.activity {
  font-family: var(--secondary-font);
  background-color: var(--secondary-color);
  font-size: 3.5vmin;
  margin: 1vmin;
  padding: 1vmin;
  width: 50%;
  height: 5vmin;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.activity > p, span {
  margin: 0;
}