.activity {
  font-family: var(--secondary-font);
  background-color: var(--secondary-color);
  font-size: 3.5vmin;
  margin: 1vmin;
  padding: 1vmin;
  width: 50%;
  height: 6vmin;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.activity > span {
  margin: 0;
}

.title {
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

.did {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.btn-container {
  display: flex;
}

.did > button {
  display: flex;
  height: 4vmin;
  margin-left: 1.5vmin;
}

.material-symbols-outlined {
  cursor: pointer;
  text-decoration: none;
  color: black;
  margin: 1vmin;
}

.material-symbols-outlined:hover {
  transform: scale(1.3);
}

.line-style {
  text-decoration: line-through!important;
}