.activity {
  font-family: var(--secondary-font);
  background-color: var(--secondary-color);
  font-size: 3.5vmin;
  margin: 1vmin;
  padding: 1vmin;
  width: 50%;
  min-height: 6vmin;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.activity > span {
  margin: 0;
}

.title {
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

.title-expanded {
  text-overflow: inherit;
  overflow: scroll;
}

.did {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.btn-container {
  display: flex;
}

.did > button {
  display: flex;
  height: 4vmin;
  min-width: 16vmin;
  margin-left: 1.5vmin;
}

.material-symbols-outlined {
  cursor: pointer;
  text-decoration: none;
  color: black;
  margin: 1vmin;
}

.material-symbols-outlined:hover {
  transform: scale(1.3);
}

.line-style {
  text-decoration: line-through!important;
}

@media screen and (max-width: 40em) {
  .activity {
    width: 85%;
    min-height: 20vmin;
    font-size: calc(1em + 4vmin);
  }

  .title {
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
  }

  .did > .uni-btn {
    height: 2vmin;
    font-size: calc(.75em + 1vmin);
    padding: 10vmin;
  }
}