.you-could {
  font-family: var(--secondary-font);
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.you-could > h2 {
  margin-bottom: 10vmin;
    font-weight: 600;
    font-size: calc(3em + 1vw);
}

.activity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  width: 30vw;
  height: 30vh;
  padding: 2vmin;
  border-radius: var(--border-radius);
  justify-content: space-evenly;
}

.activity-container > p {
  font-style: italic;
  font-size: calc(2em + 1vw);
  color: black;
}

.activity-container > a {
  font-size: calc(1em + 1vw);
}

.activity-container > h3 {
  font-size: calc(2em + 1vw);
  color: black;
}

.dark-title {
  color: black;
}

.activity-choose-form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media screen and (max-width: 40em){
  .activity-container {
    width: 80vw;
  }

  .activity-container > .uni-btn {
    padding: 3vmin;
  }
}