.not-found {
  font-family: var(--secondary-font);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.go-home-container {
  display: flex;
  align-items: baseline;
}

.home-link {
  font-weight: bold;
}

.home-link:hover {
  text-decoration: underline;
}

.mini-logo {
  transform: scaleX(-1);
  height: 10vh;
}