.form-page {
  font-family: var(--secondary-font);
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

select {
  appearance: none;
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: background-color .5s ease-in;
  border-radius: var(--border-radius);
}

select:hover {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 40em) {
  .form-page > h2 {
    font-size: calc(1em + 4vmin);
  }

  .form-page {
    padding: 2vmin;
    justify-content: space-evenly;
  }
}