.home {
  height: 100vh;
  width: 100vw;
  padding: 25vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.logo-image {
  height: 25vmin;
}

.logo {
  font-family: var(--primary-font);
  font-weight: var(--primary-font-hvy-wght);
  margin: 0;
  height: auto;
  width: auto;
}

.blurb-one {
  font-family: var(--secondary-font);
  margin: 0;
  height: auto;
  width: auto;
}

.instructions {
  margin: 2vmin 0 2vmin 0;
  font-size: calc(.5em + 1vmin);
  font-style: italic;
}