.toggle-icon {
  position: fixed;
  bottom: 1vmin;
  right: 1vmin;
  background: none;
}

.toggle-icon-dark {
  filter: invert(1);
}

@media screen and (max-width: 40em) {
  .toggle-icon {
    right: -2vmin;
  }
}