.you-did {
  font-family: var(--primary-font);
  margin: 0;
  height: auto;
}

.you-did-title {
  position: sticky;
  z-index: 3;
  top: 15vh;
}

.activities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}