:root {
  --primary-font: 'Kanit', sans-serif;
  --primary-font-hvy-wght: 400;
  --primary-font-lgt-wght: 100;
  --secondary-font: 'Dongle', sans-serif;
  --primary-color: #F8F2E9;
  --secondary-color: rgb(200, 200, 200);
  --primary-font-color: black;
  --border-radius: 5px;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

.uni-btn {
  font-family: var(--secondary-font);
  background-color: white;
  padding: .5vmin;
  border-radius: var(--border-radius);
  transition: background-color .5s ease;
  text-decoration: none;
  color: var(--primary-font-color)
}

.unit-btn:hover {
  background-color: blue;
}

.link {
  text-decoration: none;
  color: var(--primary-font-color)
}
