:root {
  --primary-font: 'Chivo Mono', monospace;;
  --primary-font-hvy-wght: 400;
  --primary-font-lgt-wght: 100;
  --secondary-font: 'Dongle', sans-serif;
  --primary-color: #F8F2E9;
  --secondary-color: rgb(200, 200, 200);
  --primary-font-color: black;
  --border-radius: 5px;
}

.light {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

.dark {
  background-color: black;
  color: var(--primary-color);
}

.logo-image-dark {
  filter: invert(1)
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: none;
  border: none;
}

.uni-btn {
  font-family: var(--secondary-font);
  text-align: center;
  background-color: white;
  padding: .5vmin;
  border-radius: var(--border-radius);
  transition: background-color .5s ease;
  text-decoration: none;
  font-size: calc(1em + 1vmin);
  color: var(--primary-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3.5vw;
}

.uni-btn:hover {
  background-color: var(--secondary-color);
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 40em){
  .uni-btn {
    padding: 3vmin;
    min-width: 30vw;
  }
}